SECRET_KEY=change-me
DEBUG=true
ENABLE_API_DOCS=true
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
TIME_ZONE=UTC
DB_ENGINE=sqlite
SQLITE_NAME=db.sqlite3
DB_NAME=simplebank
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
